# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
.venv/

# Model files
*.bin
*.safetensors
*.pt

# Cache
.cache/
.huggingface/
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local JSON files
feedback.json
